.modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    max-width: 500px;
    width: 100%;
  }
  
  .table-responsive {
    max-height: 400px;
    overflow-y: auto;
  }
  